# Files to ignore
*.pyc
.coverage
.DS_Store
*.sif
profile.html
profile.json

# Folders to ignore
__pycache__
.mypy_cache
.nox
.pytest_cache
html
save

# Ignore files that are user filled
gh-llcad-dev.config
gh.config
gh.secret
